---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import SideMenuItem from "@/components/SideMenuItem.astro";
import {playlists} from "@/lib/data";
import SideMenuCard from "./SideMenuCard.astro";
---

<nav class="flex flex-col flex-1 gap-2 h-full">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Inicio
      </SideMenuItem>
      <SideMenuItem href="/">
        <SearchIcon />
        Buscar
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg pt-2 ps-2 flex flex-col flex-1">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
        Tu biblioteca
      </SideMenuItem>
    </ul>

    <div class="relative overscroll-y-contain w-full h-full overflow-hidden">
      <ul class="absolute w-full h-full pb-2 overflow-y-auto ">
          {playlists.map((playlist) => <li><SideMenuCard playlist={playlist} /></li> )}
      </ul>

    </div>
  </div>
</nav>