---
import AsideMenu from "@/components/AsideMenu.astro"
import { Player } from "@/components/Player";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body id="app" class="relative p-2 gap-2 h-full">
			<aside class="relative [grid-area:aside] w-[330px] flex-col flex h-full">
				<AsideMenu/>
			</aside>
			<main class="relative [grid-area:main] bg-zinc-900 rounded-lg overflow-y-auto">
				<slot />
			</main>
			
			<footer class="[grid-area:player]">
				<Player client:load transition:name={"media-player"} transition:persist/>
			</footer>
	</body>
</html>

<style>
	#app {
		display: grid;
		grid-template-areas: "aside main" "player player";
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto;
	}
</style>

<style is:global>

	:root {
    --scrollbar-vertical-size: 16px;
    --scrollbar-horizontal-size: 16px;
	}

	html {
		font-family: "CircularStd", system-ui, sans-serif;
		background: #000;
		color: #fff;
		scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
    scrollbar-width: 14px;
		height: 100%;
	}

	::-webkit-scrollbar {
    width: 14px;
	}

	::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 100%, 0.3);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: hsla(0, 0%, 100%, 0.533);
	}

	::-webkit-scrollbar-button { 
		display:none;
		height: 0;
		width: 0
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Book.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Black.woff2") format("woff2");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
</style>
